.content{
	display: flex;
}
	
.content_theaters{
	width: 75%;
}

.theaters{
	margin-left: 20%;

}

.theaters tr td img{
	width: 300px;
	height: 150px;
}

.ad_eternals img{
	width: 250px;
	height: 100%;
	float: right;
}

.ad{
	width:25%;
	float: right;
}
	